@import './log-in/log-in';

.authenticate-box {
	background-color: #fff;
	width: 310px;
	margin: 200px auto;
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 10px;

	.sign-up-now {
		position: absolute;
		text-align: center;
		bottom: 20px;
		width: 310px;
		color: green;

		span {
			color: blue;
			font-weight: 700;
			cursor: pointer;
		}
	}
}